* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #3967b1;
    color: #333;
    line-height: 1.6;
}
h1,h4,h4{
    text-align: center;
    align-items: center;
}
.bg{
    background-image: url(1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;

    display: flex;              /* important */
    flex-direction: column;     /* h4,h1,h4 vertical */
    justify-content: center;    /* vertical center */
    align-items: center;        /* horizontal center */
    text-align: center;
    color: white;
}
.home{
  display:flex;          /* MAIN MAGIC */
  align-items:center;
  justify-content:center;
  gap:40px;
  padding:40px;
}

.text{
  flex:1;
}

.img img{
  width:550px;
  border-radius:10px;
  background-size: cover;
}


.nav {
    margin-top: 30px;
    text-align: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

.nav a:hover {
    color: #38bdf8;
}

.projects.h2{
    text-align:center;
    margin-top: 10px;
}

.projects{
    text-align:center;
    padding:20px;
}

.project-container{
    display:flex;              /* 3 images pakkana ravadaniki */
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.project-card{
    width:30%;
}

.img-box{
    position:relative;
    overflow:hidden;
    height: 400px;
}

.img-box img{
    width:100%;
    border-radius:10px;
    display:block;
}

/* Hover window */
.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    opacity:0;
    transition:0.4s;
    border-radius:10px;
}

.img-box:hover .overlay{
    opacity:1;        /* cursor velte content kanipistundi */
}

/* Sections */
.section {
    text-align: left;
    padding: 40px 20px;
    margin-left: 20px;
    margin-top: 10px;
}

.section h2 {
    margin-bottom: 15px;
    color: #1f2933;
}

/* Skills */
.skills-list {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
}

.skills-list li {
    background: #e5e7eb;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact-form button {
    background: #1f2933;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background: #38bdf8;
}

/* Footer */
.footer {
    background: #1f2933;
    color: #fff;
    text-align: center;
    padding: 15px;
}
